#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  color: #fff;

  h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(186, 107, 3);
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
  }
.navigation{
  padding:auto;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.search {
  display: flex;
  justify-content: center;
  gap: 10px;

  input {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #00d3d3;
    border-radius: 8px;
    outline: none;
    transition: all 0.2s;

    &:focus {
      border-color: #007777;
      box-shadow: 0 0 5px rgba(0, 119, 119, 0.5);
    }
  }


}
  .character-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
  }
  button {
    font-size: medium;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: rgb(0, 211, 211);
    cursor: pointer;
  }

  button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 75, 75);
  }
}
.theme-light {
  background-color: #D3DAD9;
  color: #37353E;
}

.theme-dark {
  background-color: #37353E;
  color: #f0f0f0;
}

/* Style pour les cartes individuelles */
.character-card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;

  img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #555;
  }

  h2 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: #030303;
  }
    h2 {
    margin: 0;
    color: #030303;
  }

  &:hover {
    transform: translateY(-5px);
  }
}
.loading {
  font-size: 1.5rem;
  font-weight: bold;
  color:rgb(0, 211, 211);       // Star Wars-style yellow
  text-align: center;
  margin: 2rem 0;
  position: relative;
  letter-spacing: 2px;

  &::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:rgb(0, 211, 211);
    animation: blink 1s infinite;
  }
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
